.advantages {
  background-color: $color-solitude;
  background-image: url("../img/content/advantages/advantages-background-desktop.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/content/advantages/advantages-background-desktop@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/content/advantages/advantages-background-tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/advantages/advantages-background-tablet@2x.jpg");
    }
  }

  @include mobile {
    background-image: url("../img/content/advantages/advantages-background-mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/advantages/advantages-background-mobile@2x.jpg");
    }
  }
}

.advantages__wrapper {
  padding: 110px 103px 120px;

  @include tablet {
    padding: 90px 44px 100px;
  }

  @include mobile {
    padding: 57px 15px 64px;
  }

  h2 {
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: $color-tangaroa;

    @include tablet {
      margin-bottom: 49px;
      font-size: 26px;
      line-height: 39px;
    }

    @include mobile {
      margin-bottom: 30px;
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 40px;

  @include tablet {
    column-gap: 30px;
    row-gap: 30px;
  }
}

.advantages__item {
  position: relative;
  width: 360px;
  min-height: 242px;
  padding: 82px 30px 24px;
  background-color: $color-alice-blue;

  @include tablet {
    width: 206px;
    min-height: 310px;
    padding: 71px 16px 19px 20px;
  }

  @include mobile {
    width: 290px;
    min-height: 250px;
    padding: 71px 20px 19px;
  }

  &--icon-cruise-liner::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px;
    width: 27px;
    height: 32px;
    background-image: url("../img/svg/icon-liner-desktop.svg");

    @include tablet {
      top: 25px;
      left: 20px;
      width: 21px;
      height: 26px;
      background-image: url("../img/svg/icon-liner-tablet.svg");
    }
  }

  &--icon-all-inclusive {
    p {
      padding-right: 15px;

      @include tablet {
        padding-right: 0;
      }

      @include mobile {
        padding-right: 20px;
      }
    }
  }

  &--icon-all-inclusive::before {
    content: "";
    position: absolute;
    top: 35px;
    left: 30px;
    width: 38px;
    height: 21px;
    background-image: url("../img/svg/icon-tick-desktop.svg");

    @include tablet {
      top: 29px;
      left: 20px;
      width: 33px;
      height: 19px;
      background-image: url("../img/svg/icon-tick-tablet.svg");
    }
  }

  &--icon-excursion-tours {
    p {
      padding-right: 55px;

      br {
        display: none;
      }

      @include tablet {
        padding-right: 1px;
      }

      @include mobile {
        padding-right: 15px;

        br {
          display: block;
        }
      }
    }
  }

  &--icon-excursion-tours::before {
    content: "";
    position: absolute;
    top: 38px;
    left: 30px;
    width: 42px;
    height: 15px;
    background-image: url("../img/svg/icon-ship-desktop.svg");

    @include tablet {
      top: 32px;
      left: 20px;
      width: 38px;
      height: 13px;
      background-image: url("../img/svg/icon-ship-tablet.svg");
    }
  }

  h3 {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-tangaroa;

    @include tablet {
      margin-bottom: 9px;
      line-height: 25px;
    }

    @include mobile {
      padding-right: 80px;
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    color: $color-tangaroa;
  }
}
