.booking {
  background-color: $color-pale-cornflower-blue;
  background-image: url("../img/content/booking/booking-background-desktop.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/content/booking/booking-background-desktop@2x.jpg");
  }

  @include vp-768 {
    background-image: url("../img/content/booking/booking-background-tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/booking/booking-background-tablet@2x.jpg");
    }
  }

  @include vp-320 {
    background-image: url("../img/content/booking/booking-background-mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/booking/booking-background-mobile@2x.jpg");
    }
  }
}

.booking__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 144px;
  padding: 50px 163px;

  @include vp-768 {
    justify-content: center;
    padding: 88px 60px 100px;
  }

  @include vp-320 {
    padding: 59px 15px 65px;
  }
}

.booking__title-wrapper {
  width: 493px;
  margin-top: 10px;
  margin-bottom: 20px;

  @include vp-768 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 419px;
    margin-top: 0;
    margin-bottom: 52px;
  }

  @include vp-320 {
    margin-bottom: 34px;
  }

  h2 {
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: $color-tangaroa;

    @include vp-768 {
      margin-bottom: 5px;
      font-size: 34px;
      line-height: 51px;
      text-align: center;
    }

    @include vp-320 {
      margin-bottom: 14px;
      font-size: 24px;
      line-height: 31px;
    }
  }

  p {
    padding-right: 105px;
    font-size: 18px;
    line-height: 27px;
    color: $color-tangaroa;

    br {
      display: none;
    }

    @include vp-768 {
      padding-right: 20px;
      padding-left: 20px;
      text-align: center;
    }

    @include vp-320 {
      padding: 0;
      font-size: 16px;
      line-height: 22px;

      br {
        display: block;
      }
    }
  }
}
