.catalog {
  background-color: $color-alice-blue;
}

.catalog__wrapper {
  padding: 110px 118px 120px;

  @include tablet {
    padding: 90px 59px 100px;
  }

  @include mobile {
    padding: 55px 25px 65px;
  }

  h2 {
    margin-bottom: 49px;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: $color-tangaroa;

    @include tablet {
      font-size: 26px;
      line-height: 39px;
    }

    @include mobile {
      margin-bottom: 32px;
      font-size: 24px;
      line-height: 36px;
    }
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

.catalog__item {
  position: relative;
}
