.contacts {
  background-color: $color-alice-blue;
}

.contacts__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 100px;
  row-gap: 40px;
  padding: 144px 103px 96px;

  @include vp-768 {
    column-gap: 29px;
    padding: 100px 45px;
  }

  @include vp-320 {
    row-gap: 0;
    padding: 58px 15px 65px;
  }
}

.contacts__map-wrapper {
  position: relative;
  width: 560px;
  height: 306px;

  @include vp-768 {
    width: 324px;
    height: 335px;
  }

  @include vp-320 {
    order: 1;
    width: 290px;
    height: 316px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 217px;
    left: 249px;
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/icon-pin.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @include vp-768 {
      top: 218px;
      left: 109px;
    }

    @include vp-320 {
      top: 224px;
      left: 112px;
    }
  }
}

.contacts__info {
  width: 500px;

  @include vp-768 {
    width: 324px;
  }

  @include vp-320 {
    order: 0;
  }

  h3 {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;

    @include vp-768 {
      margin-bottom: 26px;
    }

    @include vp-320 {
      margin-bottom: 27px;
    }
  }
}

.contacts__list {
  @include vp-320 {
    margin-bottom: 36px;
  }
}

.contacts__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 28px;

  @include vp-320 {
    margin-bottom: 21px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--address {
    br {
      display: none;
    }

    @include vp-768 {
      br {
        display: block;
      }
    }
  }

  &--address::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 22px;
    background-image: url("../img/svg/icon-pin.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @include vp-768 {
      top: 5px;
    }
  }

  &--phone::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url("../img/svg/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;

    @include vp-768 {
      top: 2px;
    }
  }
}

.contacts__phone {
  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
