.cruise {
  position: relative;

  &:hover {
    .cruise__title {
      top: 29px;
      left: 25px;

      @include vp-767 {
        left: 35px;
      }

      @include vp-319 {
        left: 25px;
      }
    }

    .cruise__description {
      display: flex;
    }
  }
}

.cruise__title-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  h3 {
    z-index: 1;
    position: absolute;
    bottom: 21px;
    left: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-alice-blue;

    @include vp-767 {
      bottom: 27px;
      left: 35px;
    }

    @include vp-319 {
      bottom: 17px;
      left: 25px;
    }
  }
}

.cruise__description {
  z-index: 2;
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 69px 25px 35px;
  background-color: $color-tangaroa;
  box-shadow: 0 4px 35px $color-tangaroa-zero-point-fifteen;

  @include vp-767 {
    padding: 69px 35px 35px;
  }

  @include vp-319 {
    padding: 69px 25px 35px;
  }
}

.cruise__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: $color-alice-blue;
}

.cruise__info {
  margin-bottom: 11px;
  font-size: 14px;
  line-height: 20px;
  color: $color-quartz;
}

.cruise__term {
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $color-alice-blue;
}

.cruise__definition {
  margin-bottom: 11px;
  margin-left: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.cruise__button {
  align-self: flex-end;
  width: 100%;
}

.cruise__image-wrapper {
  img {
    width: 260px;
    height: 386px;

    @include vp-767 {
      width: 309px;
    }

    @include vp-319 {
      width: 270px;
    }
  }
}
