.footer-navigation {
  margin-right: auto;

  @include mobile {
    margin-right: 100px;
    margin-bottom: 26px;
  }
}

.footer-navigation__list {
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation__item {
  margin-right: 33px;

  @include tablet {
    margin-right: 23px;
  }

  @include mobile {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer-navigation__link {
  display: block;
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;

  @include tablet {
    font-size: 12px;
    line-height: 15px;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}
