.promo {
  background-color: $color-prussian-blue;
  background-image: url("../img/content/promo/promo-background-desktop.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/content/promo/promo-background-desktop@2x.jpg");
  }

  @include vp-767 {
    background-image: url("../img/content/promo/promo-background-tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/promo/promo-background-tablet@2x.jpg");
    }
  }

  @include vp-319 {
    background-image: url("../img/content/promo/promo-background-mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/promo/promo-background-mobile@2x.jpg");
    }
  }
}

.promo__wrapper {
  padding: 283px 0 283px 198px;

  @include vp-767 {
    padding: 280px 0 280px 45px;
  }

  @include vp-319 {
    padding: 176px 0 179px 15px;
  }
}

.promo__title {
  color: $color-alice-blue;

  @include vp-319 {
    margin-bottom: 11px;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
  }
}

.promo__description {
  color: $color-alice-blue;

  @include vp-319 {
    padding-right: 75px;
    line-height: 22px;
  }
}
