.promo {
  background-color: $color-curious-blue;
  background-image: url("../img/content/promo/promo-background-desktop.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/content/promo/promo-background-desktop@2x.jpg");
  }

  @include tablet {
    background-image: url("../img/content/promo/promo-background-tablet.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/promo/promo-background-tablet@2x.jpg");
    }
  }

  @include mobile {
    background-image: url("../img/content/promo/promo-background-mobile.jpg");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/content/promo/promo-background-mobile@2x.jpg");
    }
  }
}

.promo__wrapper {
  padding: 270px 198px 278px;

  @include tablet {
    padding: 268px 45px 275px;
  }

  @include mobile {
    padding: 176px 15px 179px;
  }

  h1 {
    margin-bottom: 12px;
    font-size: 54px;
    line-height: 66px;
    color: $color-alice-blue;

    @include tablet {
      font-size: 50px;
      line-height: 61px;
    }

    @include mobile {
      margin-bottom: 11px;
      font-weight: 700;
      font-size: 36px;
      line-height: 45px;
    }
  }

  p {
    font-size: 20px;
    line-height: 24px;
    color: $color-alice-blue;

    @include tablet {
      font-size: 18px;
      line-height: 22px;
    }

    @include mobile {
      padding-right: 75px;
      font-size: 16px;
      line-height: 22px;
    }
  }
}
